<!-- <h1>LongestWord#score</h1>
<p>Find me in app/views/longest_word/score.html.erb</p> -->

<h2>Your score: </h2>
<p><%= @result[:score] %></p>

<h2>Time taken: </h2>
<p><%= @result[:time] %></p>

<h2>Message: </h2>
<p><%= @result[:message] %></p>
